<p id="notice"><%= notice %></p>

<p>
  <b>Jib:</b>
  <%= @firm.jib %>
</p>

<p>
  <b>Name:</b>
  <%= @firm.name %>
</p>

<p>
  <b>City:</b>
  <%= @firm.city %>
</p>


<%= link_to 'Edit', edit_firm_path(@firm) %> |
<%= link_to 'Back', firms_path %>
