	
	<div id="mainContainer">
		<div class="innerHolder">
			<form class="form-search" id="mainSearchForm">
				  <input type="text" name="q" class="input search-query" value="<%= params[:q]%>">
				  <div class="img_btn">
					<a class="search_btn" href="#" onclick="$('#mainSearchForm').submit();"></a>
				  </div>
			</form><br/>
			<div class="tip"><p>Firme možete pretraživati po njihovom nazivu ili jedinstvenom identifikacionom broju (JIB)</p></div>
			<div class="results <%= @owners.length == 0 ? 'tablehide' : 'tableshow' %>">
				<table width="100%" class="table <%= @owners.length == 0 ? 'tablehide' : 'tableshow' %>" padding="0" cellspacing="5">
					<tr class="header">
						<th width="100" align="center">JIB</th>
						<th width="520" align="center">NAZIV FIRME</th>
						<th width="80" align="center">RAČUNA</th>
					</tr>
					<% @owners.each do |owner| %>
					<tr>
						<td width="100" align="center"><%= owner.oid %></td>
						<td width="520"><%= owner.name %></td>
						<td width="80" class="accountsize"><%= owner.owner_summaries.first.blocked_accounts %></td>
					</tr>
					<% end if @owners %>
				</table>
				<div>
					<% if @previous %>
						<%= link_to('Prethodna', search_path(:q => params[:q], :o => @previous)) %>
					<% end %>
					<% if @next %>
						<%= link_to('Sljedeća', search_path(:q => params[:q], :o => @next)) %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
