	
	<div id="mainContainer">
		<div class="innerHolder">
			<form class="form-search" id="mainSearchForm">
				  <input type="text" name="q" class="input search-query" value="<%= params[:q]%>">
				  <div class="img_btn">
					<a class="search_btn" href="#" onclick="$('#mainSearchForm').submit();"></a>
				  </div>
			</form><br/>
			<div class="tip"><p>Firme možete pretraživati po njihovom nazivu ili jedinstvenom identifikacionom broju (JIB)</p></div>
			<div class="results <%= @owners.length == 0 ? 'tablehide' : 'tableshow' %>">
				<table width="100%" class="table <%= @owners.length == 0 ? 'tablehide' : 'tableshow' %>" padding="0" cellspacing="5">
					<tr class="header">
						<th width="100">JIB</th>
						<th width="520">NAZIV FIRME</th>
						<th width="80"># RAČUNA</th>
					</tr>
					<% @owners.each do |owner| %>
					<tr>
						<td width="100" align="center"><%= owner.oid %></td>
						<td width="520"><%= owner.name %></td>
						<td width="80" class="accountsize"><%= owner.accounts.size %></td>
					</tr>
					<% end if @owners %>
				</table>
			</div>
		</div>
		<div id="separator">
			<%= link_to 'Previous page', { :owner => @owner_pages.current.previous } if @owner_pages.current.previous %>
			<%= link_to 'Next page', { :owner => @owner_pages.current.next } if @owner_pages.current.next %>
		</div>
	</div>
</div>
