	
	<div id="mainContainer">
		<div class="innerHolder">
			<form class="form-search" id="mainSearchForm">
				  <input type="text" name="q" class="input search-query" value="<%= params[:q]%>">
				  <div class="img_btn">
					<a class="search_btn" href="#" onclick="$('#mainSearchForm').submit();"></a>
				  </div>
			</form><br/>
			<div class="tip"><p><%= t('searches.show.desc') %></p></div>
			<div class="results <%= @owners.length == 0 ? 'tablehide' : 'tableshow' %>">
				<table width="100%" class="table <%= @owners.length == 0 ? 'tablehide' : 'tableshow' %>" padding="0" cellspacing="5">
					<tr class="header">
						<th width="100" align="center"><%= t('searches.show.jib') %></th>
						<th width="520" align="center"><%= t('searches.show.name') %></th>
						<th width="80" align="center"><%= t('searches.show.accounts') %></th>
					</tr>
					<% @owners.each do |owner| %>
					<tr>
						<td width="100" align="center"><%= owner.oid %></td>
						<td width="520"><%= owner.name %></td>
						<td width="80" class="accountsize"><%= owner.owner_summaries.first.blocked_accounts %></td>
					</tr>
					<% end if @owners %>
				</table>
				<div class="prevnext">
					<% if @next %>
						<%= link_to( t('searches.show.next'), search_path(:q => params[:q], :o => @next), :class=>"next-btn") %>
					<% end %>
					<% if @previous %>
						<%= link_to( t('searches.show.previous'), search_path(:q => params[:q], :o => @previous), :class=>"prev-btn") %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>