<h1>Listing accounts</h1>
<style type="text/css">
  .duplicate {
    background-color: red;
  }
</style>

<table id="accounts_tbl">
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Bank</th>
    <th>Firm</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% prev_firm_id = nil %>

<% @accounts.each do |account| %>
  <tr id="row_<%= account.id %>" >
    <td><%= account.number %></td>
    <td><%= account.name %></td>
    <td><%= account.bank_id %></td>
    <td id="firm_id"><%= account.firm_id %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>

<script type="text/javascript">
  prev_row = null;
  current_row = null;

  prev_id = null;
  current_id = null;

  $('#accounts_tbl tr').each(function() {
    current_row = $(this);

    if (prev_row != null) {
      prev_id = prev_row.find("#firm_id").html();      
    }

    current_id = current_row.find("#firm_id").html();

    if(prev_id == current_id && prev_id != null) {
      current_row.attr("class", "duplicate");
      prev_row.attr("class", "duplicate");
    }

    prev_row = current_row;
  });
</script>>